<ion-view view-title="Connexion">

  <ion-content>
    <div class="list card">
        <label class="item item-input">
            <input ng-model="email" type="text" name="email" placeholder="Email" class="item"/>
        </label>

        <label class="item item-input">
            <input ng-model="password" type="password" name="password" placeholder="Mot de passe" class="item"/>
        </label>
    </div>

    <div class="text-center">
        <button ng-click="connexionClick(email, password)" class="button button-block button-stable">
          Se connecter
        </button>
        <a href="#/inscription">Créer un compte</a>
    </div>


  </ion-content>
</ion-view>
