<ion-view cache-view="false" view-title="Contacts">
  <ion-header-bar class="bar-light bar-subheader">
      <label class="bar bar-header item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Recherche" ng-model="model.queryContact"/>
      </label>
  </ion-header-bar>

  <ion-content ng-init="init()">
      <ion-list class="has-header">
        <ion-item class="item-remove-animate item-icon-right"
            ng-repeat="contact in contactsArray | orderBy: 'firstName' | filter:searchContact"
            type="item-text-wrap">
          <h2>{{contact.firstName}} {{contact.lastName}}</h2>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
